/ml-agents
/python
/unity-volume
/NewBorn-env/.vs
/NewBorn-env/Library
/NewBorn-env/obj
/NewBorn-env/packages
/NewBorn-env/ProjectSettings
/NewBorn-env/Temp
/NewBorn-env/GeneData
/NewBorn-env/Darwin1_Data
/NewBorn-env/Darwin1_D
/NewBorn-env/Assets/Plugins
/NewBorn-env/Assets/Resources
/NewBorn-env/Assets/Scenes
/NewBorn-env/Assets/SharedAssets
/NewBorn-env/Assets/TFModels
/NewBorn-env/Assets/UnityPackages

*.meta
*.asset
*.sln
*.x86_64
*.csproj
